body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px auto;
  padding: 1rem;
  max-width: 1200px;
}

h1 {
  text-align: center;
  font-weight: normal;
  color: rgb(67, 173, 235);
}

img {
  max-width: 100%;
}

main {
  display: block grid;
  gap: 1em;
  grid-template-columns: 100%;
}

article {
  padding: 0.5rem;
  border: 2px solid lightskyblue;
}

@media screen and (min-width:700px) {
  article {
    display: block flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .event-image {
    width: 45%;
  }

  .event-text {
    width: 53%;
  }

  h1 {
    color: mediumpurple;
    font-size: 3.5em;
  }

  article {
    border: 2px solid mediumpurple;
  }
}